@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

$containerHeight: 500;
$select-containerWidth: 500;
$write-containerWidth: 900;
$headerHeight: 55;

.container {
    position: absolute;
    height: toRem($containerHeight);
    background-color: white;
    border-radius: toRem(20);
    transition: 0.5s;

    .bodyContainer {
        top: toRem($headerHeight);
        bottom: 0;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;        
    }
}

#containerSelect {
    width: toRem($select-containerWidth);
}

#containerWrite {
    width: toRem($write-containerWidth);
}




.header {
    position: relative;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: toRem($headerHeight);
    border-bottom: 1px solid gray;
    border-radius: toRem(20) toRem(20) 0 0;
    font-size: toRem(17);

    p {
        position: relative;
        width: fit-content;
        text-align: center;
    }

    .headerButton {
        position: relative;
        font-size: toRem(17);
        border: white;
        background-color: white;
        color:rgb(16, 147, 253);
        cursor: pointer;
    }

    #back {
        right: toRem(8);
    }
    #next {
        left: toRem(8);
    }
}

@media (max-width: 950px) {
    .container {
        height: toRem($containerHeight - 100);
    }

    #containerSelect {
        width: toRem($select-containerWidth - 100);
    }

    #containerWrite {
        width: toRem($write-containerWidth - 100);
    }
}

@media (max-width: 800px) {
    .container {
        height: toRem(400);
    }
    #containerSelect {
        width: toRem(400);
    }
    #containerWrite {
        width: toRem(600);
    }
}

@media (max-width: 600px) {
    .container {
        .bodyContainer {
            flex-direction: column;
        }
    }

    #containerSelect {
        width: toRem(400);
        height: toRem(300);
    }

    #containerWrite {
        width: toRem(400);
        height: toRem(500);
    }
}

@media (max-width: 400px) {
    #containerSelect {
        width: toRem(300);
        height: toRem(250);
    }

    #containerWrite {
        width: toRem(300);
        height: toRem(450);
    }
}

@media (max-width: 300px) {
    #containerSelect {
        width: toRem(200);
        height: toRem(260);
    }

    #containerWrite {
        width: toRem(200);
        height: toRem(460);
    }

    .header {
        font-size: toRem(13);
        height: toRem(45);

        .headerButton {
            font-size: toRem(13);
        }

        #back {
            right: toRem(2);
        }
        #next {
            left: toRem(2);
        }
    }
}
