@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

$containerHeight: 500;
$select-containerWidth: 500;
$write-containerWidth: 900;
$headerHeight: 55;

.container {
    position: absolute;
    height: toRem($containerHeight);
    background-color: white;
    border-radius: toRem(20);
    transition: 0.5s;

    .bodyContainer {
        top: toRem($headerHeight);
        bottom: 0;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;        
    }
}

#containerSelect {
    width: toRem($select-containerWidth);
}

#containerWrite {
    width: toRem($write-containerWidth);
}

@media (max-width: 950px) {
    .container {
        height: toRem($containerHeight - 100);
    }

    #containerSelect {
        width: toRem($select-containerWidth - 100);
    }

    #containerWrite {
        width: toRem($write-containerWidth - 100);
    }
}



.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: toRem($headerHeight);
    border-bottom: 1px solid gray;
    border-radius: toRem(20) toRem(20) 0 0;
    font-size: toRem(17);
    p {
        top: 0;
        position: absolute;
        width: fit-content;
        text-align: center;
    }
    .headerButton {
        position: absolute;

        font-size: toRem(17);
        border: white;
        background-color: white;
        color:rgb(16, 147, 253);
        cursor: pointer;
    }

    #back {
        left: toRem(10);
    }
    #next {
        right: toRem(10);
    }
}