@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

$containerHeight: 500;
$select-containerWidth: 500;
$write-containerWidth: 900;

.container {
    position: absolute;
    height: toRem($containerHeight);
    background-color: white;
    border-radius: toRem(20);
    transition: 0.5s;
}

#containerSelect {
    width: toRem($select-containerWidth);
}

#containerWrite {
    width: toRem($write-containerWidth);
}