@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Nunito&display=swap');

@function toRem($value) {
    $remValue: ($value/16) + rem;
    @return $remValue;
}

.frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    min-height: toRem(1100);
    background-color: rgba(238, 223, 223, 0.7);

    #deactivate {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
        background-color: black;
        opacity: 0.2;
        z-index: 5;
    }

    .profileCard {
        position: relative;
        top: toRem(100);
        margin: 0 auto 0;
        border: 2px solid rgb(238, 223, 223);
        width: toRem(900);
        border-radius: toRem(30);
        background-color: white;

        button {
            position: relative;
            font-size: toRem(18);
            background-color: rgb(16, 147, 253);
            border-style: hidden;
            border-radius: toRem(10);
            padding: toRem(12);
            color: white;
            cursor: pointer;
            font-weight: bold;
            margin: toRem(10);
        
            &:hover {
                opacity: 0.7;
            }
        
            &:active {
                opacity: 0.2;
            }
        }
        
        #submitButton {
            background: rgb(255, 138, 181);
        }

        .header {
            height: toRem(60);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: toRem(25);
            font-family: 'Nunito', 'Fuzzy Bubbles', sans-serif;
            border-bottom: 1px solid gray;

            button {
                position: absolute;
            }
        }

        .body {
            font-family: 'Nunito', 'Fuzzy Bubbles', sans-serif;
            .profileImageAndId {
                .imageContainer {
                    width: toRem(100);
                    height: toRem(100);
                    border: 1px solid #e0e0e0;
                    border-radius: toRem(50);
                    margin: toRem(30) auto 0;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        display: block;
                    }
                
                    #toHeight {
                        height: 100%;
                    }
        
                    #toWidth {
                        width: 100%;
                    }
                }

                .profileChange {
                    margin: toRem(20) auto 0;
                    width: fit-content;
                    display: block;
                    
                }
                .idContainer {
                    width: fit-content;
                    margin: toRem(10) auto 0;
                    margin-bottom: toRem(20);
                    input {
                        text-align: center;
                        font-size: toRem(30);
                        border: white;
                    }
                }
            }
            .userInfo {
                display: grid;
                grid-template-columns: 1fr 1fr;
                div {
                    display: flex;
                    flex-direction: column;
                        ul {
                            list-style-type: none;
                            padding: 0;
                            margin-left: toRem(15);
                            
                            li {
                                position: relative;
                                height: auto;
                                font-size: toRem(20);
                                margin: toRem(10) 0 toRem(10);
                                
                                .labelAndInput {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    label {
                                        margin-left: toRem(10);
                                        width: fit-content;
                                    }
    
                                    #descLabel {
                                        font-size: toRem(15);
                                    }
                                    input, textarea {
                                        margin-left: toRem(30);
                                        height: toRem(30);
                                        width: toRem(250);
                                    };
                                }

                                
                                .descAddDelete {
                                    margin-top: toRem(10);
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-around;

                                    .descButton {
                                        padding: toRem(10);
                                        margin: initial;
                                        font-weight: initial;
                                        font-size: toRem(20);
                                        background: white;
                                        color:rgb(16, 147, 253);
                                    }
                                }
                            }
                        }
                }
            }
        }
        .footer {
            .submitButtonContainer {
                margin: toRem(40) auto toRem(20);
                width: fit-content;
                input {
                    font-size: toRem(20);
                    background-color: rgb(16, 147, 253);
                    border: white;
                    color: white;
                    padding: toRem(10);
                    cursor: pointer;
                    border-radius: toRem(10);
                    &:hover {
                        opacity: 0.5;
                    }
                    &:active {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .frame {
        .profileCard {
            width: toRem(700);
            .body {
                .userInfo {
                    div {
                        ul {
                            li {
                                font-size: toRem(15);
                                .labelAndInput {
                                    label {
                                        margin-left: toRem(0);
                                    }
    
                                    input, textarea {
                                        width: toRem(200);
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .frame {
        .profileCard {
            width: toRem(600);
            .body {
                .userInfo {
                    div {
                        ul {
                            li {
                                font-size: toRem(15);
                                .labelAndInput {
                                    label {
                                        margin-left: toRem(0);
                                    }
    
                                    input, textarea {
                                        width: toRem(150);
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .frame {
        height: auto;
        .profileCard {
            top: toRem(150);
            width: 90%;
            .body {
                .userInfo {
                    display: block;
                    width: 90%;
                    margin: 0 auto 0;
                    
                    div {
                        ul {
                            width: 100%;
                            margin: initial;
                            li {
                                
                                position: relative;
                                font-size: toRem(15);
                                .labelAndInput {
                                    
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-around;
                                    label {
                                        margin-left: toRem(0);
                                    }
    
                                    input, textarea {
                                        
                                        width: 70%;
                                        @media (max-width: 450px) {
                                            width: 60%;
                                        }
                                        @media (max-width: 350px) {
                                            width: 50%;
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .frame {
        .profileCard {
            .body {
                .profileImageAndId {
                    .profileChange {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .frame {
        .profileCard {
            .body {
                .profileImageAndId {
                    .idContainer {
                        input {
                            font-size: toRem(20);
                        }
                    }
                }
            }
        }
    };

}