@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}



.feed_header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: toRem(50);

    .profile_image_container {
        position: absolute;
        left: 0;
        top: 0;
        height: toRem(40);
        width: toRem(40);

        .profile_image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: toRem(5);
            left: toRem(5);
            border: 1px solid #e0e0e0;
            background: white;
            border-radius: 50% 50% 50% 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: block;
            }
        
            #toHeight {
                height: 100%;
            }

            #toWidth {
                width: 100%;
            }

        }
    }

    .profile_name {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: toRem(60);
    }
    
    .profile_name p {
        font-size: toRem(20);
        line-height: 0.5;
        font-family: 'Nunito';
    }

    .feed_delete_button {
        position: absolute;
        top: toRem(11.5);
        right: toRem(5);
        font-size: toRem(18);
        border: white;
        background-color: white;
        color: rgb(16, 147, 253);
        cursor: pointer;
     
        &:hover {
            opacity: 0.7;
        }
    }
}

@media (max-width: 800px) {
    .feed_header {
        .profile_name p {
            font-size: toRem(18);
        }
    }
}

@media (max-width: 600px) {
    .deleteAlert {
        .alertContainer {
            width: toRem(300);
            p {
                font-size: toRem(20);
            }
            .buttonContainer {
                button {
                    font-size: toRem(20);
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .deleteFeedAlert {
        .alertContainer {
            width: toRem(250);
            p {
                font-size: toRem(15);
            }
            .buttonContainer {
                button {
                    font-size: toRem(15);
                }
            }
        }
    }
    .feed_header {
        .profile_name p {
            font-size: toRem(15);
        }
    }
}