@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

#alertVisible {
    display: flex;
}

#alertNotVisible {
    display: none;
}

.deleteAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    z-index: 10;
    align-items: center;

    .waitPopupBackground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        z-index: 100;
        display: flex;
        align-items: center;

        .waitPopup {
            position: relative;
            width: toRem(500);
            height: toRem(100);
            margin: 0 auto 0;
            display: flex;
            align-items: center;
            background: white;
    
            p {
                position: relative;
                text-align: center;
                margin: 0 auto 0;
                color: black;
                font-size: toRem(25);
            }
        }
    }


    .alertContainer {
        position: relative;
        width: toRem(450);
        margin: 0 auto 0;
        background: white;
        border-radius: toRem(10);

        p {
            position: relative;
            text-align: center;
            font-size: toRem(25);
        }

        .buttonContainer {
            display: flex;
            justify-content: space-around;
            margin-bottom:  toRem(10);
            button {
                font-size: toRem(25);
                position: relative;
                background: white;
                border-radius: toRem(5);
                width: fit-content;
                border: white;
                cursor: pointer;
    
                &:hover {
                    opacity: 0.6;
                }
    
                &:active {
                    opacity: 0.2;
                }
            }

            #yes {
                color: #ff94c2;
            }

            #no {
                color: rgb(16, 147, 253);
            }

        }
    }
}


@media (max-width: 600px) {
    .deleteAlert {
        .waitPopupBackground {
            .waitPopup {
                width: toRem(400);
                height: toRem(80);
        
                p {
                    font-size: toRem(22);
                }
            }
        }
        .alertContainer {
            width: toRem(300);
            p {
                font-size: toRem(20);
            }
            .buttonContainer {
                button {
                    font-size: toRem(20);
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .deleteAlert {
        .waitPopupBackground {
            .waitPopup {
                width: toRem(250);
                height: toRem(80);
        
                p {
                    font-size: toRem(20);
                }
            }
        }
        .alertContainer {
            width: toRem(250);
            p {
                font-size: toRem(15);
            }
            .buttonContainer {
                button {
                    font-size: toRem(15);
                }
            }
        }
    }
}