@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

.feed_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;
    margin-bottom: toRem(20);

    .feed {
        position: relative;
        width: toRem(370);
        height: auto ;
        border: 2px solid rgba(100,100,100,0.5);
        border-radius: toRem(10);

        .feed_header {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: toRem(50);

            .profile_image_container {
                position: absolute;
                left: 0;
                top: 0;
                height: toRem(40);
                width: toRem(40);

                .profile_image {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: toRem(5);
                    left: toRem(5);
                    border: 2px solid white;
                    background: white;
                    border-radius: 50% 50% 50% 50%;
                    overflow: hidden;
                
                    img {
                        width: 100%;
                    }
                }
            }

            .profile_name {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                left: toRem(60);
            }
            
            .profile_name p {
                font-size: toRem(20);
                line-height: 0.5;
                font-family: 'Nunito';
            }

            .feed_delete_button {
                position: absolute;
                top: toRem(11.5);
                right: toRem(5);
                font-size: toRem(18);
                border: white;
                background-color: white;
                color: rgb(16, 147, 253);
                cursor: pointer;
             
                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .feed_photo {
            position:relative;
            width: 100%;
            height: auto;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        
        .feed_content {
            position: relative;
            width: 100%;
            height: auto;

            #feedText {
                margin-left: toRem(10);
                margin-right: toRem(10);
            }
            #feedDate {
                position: relative;
                text-align: right;
                color: rgba(0,0,0,0.6);
                margin-right: toRem(20);
            }
        }

        .feed_comment {
            position: relative;

            .commentLine {
                position: relative;
                margin: toRem(3) 0 toRem(3) toRem(10);
                font-size: toRem(14);

                span {
                    font-weight: bold;
                    margin-right: toRem(10);
                }
            }

            .commentShowOrHideButton {
                position: relative;
                font-size: toRem(16);
                background-color: white;
                border: white;
                color: #40241a;
                cursor: pointer;
                margin-left: toRem(10);
            }

            .comment_write {
                display: flex;
                align-items: center;
                padding: toRem(10) 0 toRem(10);

                .comment_profile_container {
                    width: toRem(30);
                    height: toRem(30);
                    border-radius: toRem(15);
                    overflow: hidden;
                    margin-left: toRem(10);
                    img {
                        width: 100%;
                    }
                }
                textarea {
                    position: relative;
                    margin-left: toRem(10);
                    border: 1px solid gray;
                    border-radius: toRem(6);
                    width: toRem(260);
                    height: toRem(25);
                    resize: none;
                    font-size: toRem(13);
                }
                button {
                    background: white;
                    border: white;
                    color: #df78ef;
                    margin-left: toRem(10);
                    font-size: toRem(15);
                    cursor: pointer;
                }

                #active {
                    opacity: 1.0;
                }

                #notActive {
                    opacity: 0.3;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .feed_container {
        .feed {
            width: 95%;
            .feed_header {
                .profile_name p {
                    font-size: toRem(18);
                }
            }
            .feed_comment {
                .comment_write {
                    textarea {
                        width: toRem(185);
                    }
                    button {
                        font-size: toRem(13);
                        margin-left: toRem(5);
                    }
                }
            }

        }
    }
}

@media (max-width: 600px) {
    
}

@media (max-width: 400px) {
    .feed_container {
        .feed {
            .feed_header {
                .profile_name p {
                    font-size: toRem(15);
                }
            }
        }
    }
}