.index_0{
    transform:translateX(0);
}

.index_1 {
    transform:translateX(-100%);
}

.index_2 {
    transform:translateX(-200%);
}

.index_3 {
    transform:translateX(-300%);
}

.index_4 {
    transform:translateX(-400%);
}

.desktop_switch_duration {
    transition: transform 5ms;
}

.mobile_swipe_duration {
    transition: transform 0ms;
}

#feed_photo_position_0 {
    left: 0%;
}

#feed_photo_position_1 {
    left: 100%;
}

#feed_photo_position_2 {
    left: 200%;
}

#feed_photo_position_3 {
    left: 300%;
}

#feed_photo_position_4 {
    left: 400%;
}