.preview_index_0{
    transform:translateX(0);
}

.preview_index_1 {
    transform:translate(-100%);
}

.preview_index_2 {
    transform:translate(-200%);
}

.preview_index_3 {
    transform:translate(-300%);
}

.preview_index_4 {
    transform:translate(-400%);
}

.preview_mobile_swipe_duration {
    transition-duration: 0ms;
}