@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

.imageContainer {
    height: toRem(400);
    width: toRem(400);
    position: relative;
    margin: 0 auto 0;
    overflow-x: hidden;
    order: 2;
    padding: 0;
    

    .imageFrame {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
        top: 0;

        .flexWrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #fitHeight {
            height: 95%;
        }
        
        #fitWidth {
            width: 95%;
        }
    }
}

@media (max-width: 950px) {
    .imageContainer {
        width: toRem(340);
        height: toRem(340);
    }
}

@media (max-width: 800px) {
    .imageContainer {
        width: toRem(250);
        height: toRem(250);
    }
}

@media (max-width: 600px) {
    .imageContainer {
        height: toRem(210);
        width: toRem(210);
    }
}

@media (max-width: 400px) {
    .imageContainer {
        height: toRem(180);
        width: toRem(180);
    }
}

@media (max-width: 300px) {
    .imageContainer {
        height: toRem(130);
        width: toRem(130);
    }
}