@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

$containerHeight: 500;

.container {
    position: absolute;
    width: toRem(500);
    height: toRem(500);
    background-color: white;
    border-radius: toRem(20);
}