@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

$headerHeight: 55;
$bodyHeight: 445;
$profileHeight: 60;
$descHeight: 365;

.frame {
    position: absolute;
    right: 0%;
    top: toRem($headerHeight);
    height: toRem($bodyHeight);
    transition: 0.5s;

    .profile {
        width: 100%;
        height: toRem($profileHeight);
        display: flex;
        align-items: center;

        .imageContainer {
            width: toRem(40);
            height: toRem(40);
            border: 1px white;
            border-radius: toRem(25);
            background-color: white;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .name {
            position: absolute;
            left: toRem(50);

            input {
                font-size: toRem(20);
                border: white;
                transition: 0.5s;
                background: none;
            }
        }
        
    }

    .descContainer {
        position: absolute;
        height: toRem($descHeight);
        transition: 0.5s;
        right: 0%;

        textarea {
            width: 97%;
            height: 97%;
            resize: none;
            border: 0px;
            font-size: toRem(20);
        }
    }        
    
}

#frameWidthBeforeDescription {
    width: toRem(0);

    input {
        width: toRem(0);
        opacity: 0;
    }
}

#frameWidthAtDescription {
    width: toRem(400);

    input {
        width: toRem(290);
        opacity: 1.0;
    }
}

#descWidthBeforeDescription {
    width: toRem(0);

    textarea{
        display: none;
    }
}

#descWidthAtDescription {
    width: toRem(400);

    textarea{
        display: block;
    }
}