@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Nunito&display=swap');

@function toRem($value) {
    $remValue: ($value/16) + rem;
    @return $remValue;
}

$navHeight: 80;

body {
    width: 100vw;
    height: auto;
}


.frame {
    position: absolute;
    width: 100%;
    height: auto;
    overflow-y: hidden;
}

#deactivate {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: black;
    opacity: 0.2;
    z-index: 5;
}

.jumbotron{
    position:relative;
    width: 100%;
    height: 450px;
    background-image: url('../../images/christmas_back.jpg')
}


.feed_area {
    position: relative;
    width: 800px;
    margin: toRem(20) auto toRem(20);

    .noFeed {
        position: relative;
        width: fit-content;
        margin: toRem(70) auto 0;
        font-size: toRem(30);
        text-align: center;
        line-height: 2.0;
        font-family: Nunito;
    }
}

#notEmpty {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
}