@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Nunito&display=swap');

@function toRem($value) {
    $remValue: ($value/16) + rem;
    @return $remValue;
}

$navHeight: 80;
$feedArea1: 800;
$feedArea2: 600;

body {
    background-color: #eae7e7;
}

    #deactivate {
        position: fixed;
        width: 100%;
        height: 100%;
        display: none;
        background-color: black;
        opacity: 0.2;
        z-index: 15;
    }


    .bodyWrapper {
        position: absolute;
        top: toRem(80);
        $bodyWrapperWidth: 800;
        width: toRem($bodyWrapperWidth);
        bottom: 0;
        left: calc(50% - toRem(calc($bodyWrapperWidth/2)));
        background-color: white;
        margin: 0 auto 0;

        $feedAreaProportion: 55%;

        .showLoginedUserArea {
            position: absolute;
            width: calc(100% - $feedAreaProportion - toRem(30));
            border: 2px solid black;
            right: 0;
            box-sizing: border-box;
            top: toRem(50);
        }


        .feed_area::-webkit-scrollbar {
            display: none;
        }

        .feed_area {
            position: absolute;
            width: $feedAreaProportion;
            margin: toRem(20) auto toRem(20);
            padding-bottom: toRem(30);
            overflow-y: scroll;
            bottom: 0;
            top: 0;
            // background-color: white;
        
            .noFeed {
                position: relative;
                width: fit-content;
                margin: toRem(70) auto 0;
                font-size: toRem(30);
                text-align: center;
                line-height: 2.0;
            }
        }
        
        
    }
// }



#notEmpty {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
}

@media (max-width: 800px) {
    .bodyWrapper {
        .jumbotron {
            height: toRem(350);
        }

        .feed_area {
            width: toRem($feedArea2);
        }
    }
}

@media (max-width: 600px) {
    .bodyWrapper {
        .jumbotron {
            display: none;
        }

        .feed_area {
            width: 100%;
        }
    }
    #notEmpty {
        display: block;
    }
}