@import url('../../utils/font.css');

@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

.frame {
    position: absolute;
    width: 100vw;
    height: 100vh;
    @media(max-height: 500px) {
        height: auto;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

        .login_image {
            position: relative;
            width: toRem(300);
            margin-top: toRem(50);

            img {
                width: 100%;
                height: 100%;
            }
        }

        .login_title {
            position: relative;
            text-align: center;
            line-height: 0;
            font-family: '--main-font', 'sans-serif';

            h3 {
                font-size: toRem(50);
            }
        }

        .login_form {
            position: relative;
            margin-bottom: toRem(100);

            .form_floating {
                position: relative;
            }

            
            .idInp, .pwInp {
                border: 1px solid rgba(0,0,0,0.4);
                border-radius: toRem(10);
                width: toRem(500);
                height: toRem(50);
                font-size: toRem(25);
                transition: 0.1s;
                outline: none;

                &:focus {
                    border: 3px solid rgb(16, 147, 253);
                    font-size: toRem(15);
                }
            }

            ::placeholder {
                font-size: toRem(25);
            }

            #submit_button {
                width: toRem(300);
                margin: toRem(30) auto 0;

               input {
                    width: 100%;
                    border-radius: toRem(15);
                    height: toRem(35);
                    font-size: toRem(15);
                    background-color: rgb(255, 230, 204);
                    border: white;                
                }
            }
        }
}


//Wrong Login Alert
.deactivate {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 10;

    .popUp {
        display: flex;
        justify-content: center;
        position: relative;
        width: toRem(400);
        height: toRem(100);
        background-color: white;
        border-radius: toRem(10);
        margin: 0 auto 0;

        p {
            font-size: toRem(20);
        }

        .popUpClose {
            position: absolute;
            font-size: toRem(16);
            bottom: toRem(10);
            background-color: white;
            border: white;
            color: rgb(16, 147, 253);
            cursor: pointer;
        }
    }
}

@media (max-width: 800px) {
    .frame {
        .login_image {
            width: toRem(200);
        }

        .login_title {
            h3 {
                font-size: toRem(40);
            }
        }
        .login_form {
            margin-bottom: toRem(30);

            .idInp, .pwInp {
                width: toRem(450);
            }
        }
    }   
}

@media (max-width: 500px) {
    .frame {
        .login_form {
            .idInp, .pwInp {
                width: toRem(350);
            }
        }
    }

    .deactivate {
        .popUp {
            width: toRem(300);
        }
    }
}

@media (max-width: 400px) {
    .frame {
        .login_form {
            .idInp, .pwInp {
                width: toRem(250);
                height: toRem(30);
            }
            ::placeholder {
                font-size: toRem(15);
            }

            #submit_button {
                width: toRem(200);
            }
        }
    }
}
@media (max-width: 300px) {
    .frame {
        .login_title {
            h3 {
                font-size: toRem(30);
            }
        }
        .login_form {
            .idInp, .pwInp {
                width: toRem(200);
            }
            #submit_button {
                width: toRem(150);
            }
        }
    }

    .deactivate {
        .popUp {
            width: toRem(250);
        }
    }
}


